
<button type="button" title="{{this.title}}" aria-label="{{this.title}}" class="{{this.variant}} icon-button unstyled-btn" {{action this.handler}}>
  <i class="icon-button fa fa-{{this.icon}}" aria-hidden=true></i>
</button>
