
{{!-- {{debugger}} --}}

<div class="container">

  <header class="notes-header">
    <h1>My Notes</h1>
    {{icon-button variant="primary" title="New" handler=(action "new") icon="plus"}}
  </header>

  {{#each model as |note|}}
    <div class="paper-container">
      {{#link-to "note" note class="unstyled-link"}}
        <div class="paper">
          <div class="details">
            <div class="title">
              {{note.title}}
            </div>
            <div class="updated">
              {{
                last-updated
                time=note.updated_at
              }}
            </div>
          </div>
          <div class="paper-body markdown-body noclicks">
            {{
              rendered-html
              input=note.content
              live=false
            }}
          </div>
        </div>
      {{/link-to}}
    </div>
  {{/each}}

</div>

{{!-- {{outlet}} --}}
