
{{!-- {{debugger}} --}}

<div class="editor-ui">
  <header>
    <div
      class="details"
    >
      {{
        input
        maxlength="255"
        value=model.title
        change="updatetitle"
      }}
      <div>
        {{
          last-updated
          time=model.updated_at
        }}
      </div>
    </div>

    {{icon-button variant="danger" title="Delete" handler=(action "delete") icon="trash-alt"}}

  </header>

  <div class="panes">
    <div class="pane">
      {{
        textarea
        autofocus=true
        maxlength="65536"
        value=model.content
        change="updateContent"
      }}
    </div>
    <div class="rendered pane">
      <div class="markdown-body">

      {{
        rendered-html
        input=model.content
        live=true
      }}

      </div>
    </div>
  </div>

  <footer>

  </footer>

</div>

{{!-- {{outlet}} --}}
