
{{!-- {{debugger}} --}}

<div class="container">

  <h1>My Notes</h1>

  {{#each model as |note|}}
    <div class="paper-container">
      {{#link-to "note" note class="unstyled-link"}}
        <div class="paper">
          <div class="details">
            <div class="title">
              {{note.title}}
            </div>
            <div>
              Updated {{formatDate note.updated_at}}
            </div>
          </div>
          <div class="paper-body markdown-body noclicks">
            {{formatMarkdown note.content false}}
          </div>
        </div>
      {{/link-to}}
    </div>
  {{/each}}

</div>

{{outlet}}
