
{{!-- {{debugger}} --}}

<div class="editor-ui">
  <header>
    <div
      class="details"
      style="margin-left: -0.3em;" {{!-- TODO --}}
    >
      {{
        input
        maxlength="255"
        value=model.title
        change="updatetitle"
        style="margin-left: -0.3em;"
      }}
      <div>
        <i class="far fa-edit" aria-label="Updated"

        style="padding-left: 0.3em;" {{!-- TODO --}}
        ></i>
        {{formatDate model.updated_at}}
      </div>
    </div>

  </header>

  <div class="panes">
    <div class="pane">
      {{
        textarea
        maxlength="65536"
        value=model.content
        change="updateContent"
      }}
    </div>
    <div class="rendered pane">
      <div class="markdown-body">
        {{model._formattedUpdater}}
        {{model.formatted}}
        {{!-- {{debugger}} --}}
      </div>
    </div>
  </div>

  <footer>

  </footer>

</div>

{{outlet}}
