{{!-- {{debugger}} --}}

<div class="container">
  <h1>Create New Account</h1>
  <form class="user-form" {{action "register" on="submit"}}>
    <div class="field">
      <label for="email">Email</label>
      {{input type="email" id="email" placeholder="snowball@kittens.com" value=model.email required=true}}
    </div>
    <div class="field">
      <label for="password">Password</label>
      {{input id="password" placeholder="••••••••••••••••••••" type="password" value=model.password required=true minlength="12" maxlength="128"}}
    </div>
    <div class="actions">
      <button type="submit">Register</button>
      or
      {{#link-to "login"}}
      log in
      {{/link-to}}
    </div>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
